* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  height: 100%;
  font-family: var(--font-montserrat);
  background-color: var(--clr-gray-900);
  color: var(--clr-gray-100);
  width: 100%;
}

:root {
  --clr-gray-100: #d9d9da;
  --clr-gray-500: #3f3f3f;
  --clr-gray-700: #2d2d2d;
  --clr-gray-800: #222222;
  --clr-gray-900: #141414;

  --clr-pink-400: #aaa7cd;
  --clr-pink-600: #a098eb;
  --clr-pink-800: #a59df8;

  --font-size-100: 1.2rem;
  --font-size-200: 1.6rem;
  --font-size-400: 1.8rem;
  --font-size-600: 3.2rem;
  --font-size-800: 6.4rem;

  --font-archivo: "Archivo", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;

  height: 100%;
}

.sr-only {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
textarea,
button {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}
