@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

form {
  animation: fadeIn 500ms forwards;
  padding: 2.5rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 64rem;
  margin-top: 4rem;
}

.container {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.inputContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 2.6rem;
}

form label {
  color: var(--clr-blue-100);
  font-size: var(--font-size-200);
  margin-bottom: 0.2rem;
}

.form__input {
  background-color: var(--clr-transparent-100);
  color: var(--clr-blue-100);
  border: 1px solid var(--clr-transparent-400);
  border-radius: 0.6rem;
  padding: 0.6rem 1rem;
  font-size: var(--font-size-200);
}

.form__input:focus {
  background-color: var(--clr-blue-100);
  outline: 2px solid var(--clr-blue-100);
  outline-offset: 2px;
  color: var(--clr-blue-600);
}

.form__button {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  width: fit-content;
  padding: 1rem 2rem;
  background-color: var(--clr-green-400);
  border: none;
  border-radius: 0.6rem;
  color: var(--clr-green-900);
  font-weight: var(--font-weight-700);
  cursor: pointer;
  font-size: var(--font-size-100);
  margin: auto;
  transition: background-color 0.2s ease-in;
}

.form__button:hover {
  background-color: var(--clr-green-100);
}

.form__button:focus-visible {
  background-color: var(--clr-green-100);
  outline: 2px solid var(--clr-green-400);
  outline-offset: 2px;
}

.form__button:active {
  background-color: var(--clr-green-400);
  transform: scale(0.98);
}

svg {
  width: 1.4rem;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
  }
  .inputContainer {
    width: 90%;
  }
}
