.links__tr {
  font-size: var(--font-size-100);
  text-align: start;
  background-color: var(--clr-gray-700);
  font-weight: 700;
  color: var(--clr-gray-100);
}

.links__td {
  padding: 1.4rem 0.5rem;
  color: inherit;
}

.links__td:last-child {
  padding: 0;
  text-align: center;
}

.links__td h3 {
}

.links__td a {
  color: inherit;
}

.links__td span {
  display: block;
}

.links__td button {
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
  padding: 0.5rem;
  font-size: var(--font-size-100);
  font-weight: 700;
}
