.links__tr {
  font-size: var(--font-size-100);
  text-align: start;
  background-color: var(--clr-gray-800);
}

.links__td {
  padding: 2rem 0.5rem;
}

.links__td h3 {
  font-weight: 400;
}

.links__td a {
  color: inherit;
}

.links__td span {
  display: block;
}
