@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.container {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  align-items: center;
  margin-bottom: 4rem;
}

.container__links {
  overflow-x: auto;
  width: 100%;
}

.links {
  width: 100%;
  animation: forwards 500ms fadeIn;
  background-color: var(--clr-gray-700);
  color: var(--clr-gray-900);
}

.links thead {
  background-color: var(--clr-gray-100);
}

.links tr th {
  font-size: var(--font-size-200);
  padding: 0.5rem 1rem;
  text-align: start;
}
