@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.links {
  width: 100%;
  animation: forwards 500ms fadeIn;
  background-color: var(--clr-gray-700);
  color: var(--clr-gray-100);
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.links tr th {
  font-size: var(--font-size-200);
  padding: 0.5rem;
  text-align: start;
}

.notUrl {
  margin-top: 6rem;
  font-size: var(--font-size-400);
  font-weight: 400;
  color: var(--clr-pink-600);
  animation: forwards 500ms fadeIn;
}
