@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.links {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin-top: 12rem;
  margin-bottom: 4rem;
  animation: forwards 500ms fadeIn;
}
