.container {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: var(--font-weight-500);
  color: var(--clr-blue-100);
}

.container p {
  font-size: var(--font-size-100);
}

.container button {
  background-color: var(--clr-transparent-600);
  padding: 0.5rem 0.8rem;
  border-radius: 0.6rem;
  border: none;
  cursor: pointer;
  font-size: var(--font-size-100);
  transition: background-color 0.1s ease;
}

.container button:hover {
  background-color: var(--clr-transparent-400);
}

.container button:focus-visible {
  outline: 2px solid var(--clr-blue-100);
  background-color: var(--clr-transparent-400);
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin-top: 1.5rem;
  }
}
