@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.headerTitle {
  font-size: var(--font-size-500);
  color: var(--clr-blue-100);
  animation: fadeIn 500ms forwards;
  font-weight: var(--font-weight-500);
}
