.links__tr {
  text-align: start;
  background-color: var(--clr-transparent-100);
  color: var(--clr-white);
}

.links__td {
  padding: 1rem 1rem;
  color: inherit;
}

.links__td:last-child {
  padding: 0;
  text-align: center;
}

.links__td a {
  color: inherit;
  text-decoration: none;
}

.links__td span {
  display: block;
}

.links__td button {
  background-color: var(--clr-white);
  border: none;
  color: var(--clr-red-700);
  cursor: pointer;
  border-radius: 99rem;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in;
}

.links__td button:hover,
.links__td button:focus {
  color: var(--clr-white);
  background-color: var(--clr-red-700);
}

.links__td button:focus-visible {
  outline: 2px solid white;
  outline-offset: 2px;
}

.links__td button:active {
  transform: scale(0.92);
}

.links__td button svg {
  width: 1.8rem;
}
