@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 12rem;
  padding: 0 5rem;
  gap: 3rem;
  animation: fadeIn 500ms forwards;
}

.hero__text {
  font-size: var(--font-size-800);
  text-align: center;
  color: var(--clr-pink-800);
}

.hero__description {
  color: var(--clr-pink-600);

  font-size: var(--font-size-200);
  text-align: center;
}
